body,
html,
* {
    margin: 0;
    padding: 0;
    font-family: 'InterRegular';
}

@font-face {
    font-family: 'InterRegular';
    src: local('Inter'), url(./assets/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'InterBold';
    font-weight: 900;
    src: local('Inter'), url(./assets/fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'InterBlack';
    font-weight: 900;
    src: local('Inter'), url(./assets/fonts/Inter-Black.ttf) format('truetype');
}